.container {
    background: #f4f4f4;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px 0;
    margin-left: 400px;
    max-width: 600px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    min-height: 200px;
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.title h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.description p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.username p {
    font-size: 14px;
    color: #888;
    font-style: italic;
    text-align: right;
    margin-top: 80px;
}